body {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14;
	background: url(images/hypnotize.png) left top repeat;
	/*width: 960px;*/
}

#header {
	height: 70px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 3px solid;
	border-color: #cccccc;
	position: relative;
    top: : 0;
    left: 0;
  	z-index: 10;}

#footer {
	background-color: #666666;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 12px;
	color: #cccccc;
	padding-top: 25px;
	clear: both;
	/*position: fixed;*/
	bottom: 0;
	left: 0;
}

h1 {
	font-size: 32px
}

h2 {
	font-size: 26px;
	color: #4aaaa5;
}

#brand {
	color: #ffffff;
    padding: 19px;
    background-color: #4aaaa5;
    width: 185px;
    text-align: center;
    margin-left: 90px;
    float: left;
}

#content{
    width: 650px;
    border: 2px solid #dddddd;
    margin-left: 90px;
    margin-top: 30px;
    float: left;
    padding: 20px;
}

#connect {
	width: 270px;
	border: 2px solid #dddddd;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    padding: 20px;
}

#blurb {
	float: left;
	padding: 20px 20px 20px 0;
}

.navmenu {
	float: right;
	margin: 10px;
	padding-top: 10px;
}

.contenthead {
    padding: 10px;
    border-bottom: 2px solid #cccccc;
}

.connecthead {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    color: #4aaaa5;
    margin-bottom: 20px;
}

.nav {
	margin-right: 90px;
}

p {
	padding: 20px 20px 20px 0;
}